@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;600&display=swap');


body{
   font-family: 'Josefin Sans', sans-serif;
   background-color: #fff7f3;
}

h1{
   font-family: 'Cormorant', serif;
}

.cormorant{
   font-family: 'Cormorant', serif;
}
