@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;600&display=swap');

@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/forms";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-sm: 20rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #fff7f3;
}

h1 {
  font-family: 'Cormorant', serif;
}

.cormorant {
  font-family: 'Cormorant', serif;
}
